/* Bordered form */
form {
    border: 3px solid #f1f1f1;
	width: 500px;
	margin: 0 auto;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 470px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 470px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 25%;
}

/* Add padding to containers */
.container {
    padding: 12px;
	width: 496px;
}

/* The "Forgot password" text */
span.psw {
    float: left;
    padding-top: 8px;
}

/* Change styles for span and cancel button on extra small screens */
@media only screen and (max-width: 500px) {
	form {
		width: 100%;
	}
	input[type=text], input[type=password] {
		width: 100%;
	}
	button {
		width: 100%;
	}
	.container {
		width: 100%;
	}
}