table {
	width: 100%;
}
th, td {
    padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}
tr:hover {
	background-color:#ffffff;
}
td:nth-child(1) {
	width: 48%;
}
td:nth-child(2) {
	width: 2%;
}
td:nth-child(3) {
	width: 48%;
}
tr:nth-last-child(1):hover {
	background-color:#f5f5f5;
}
tr:nth-last-child(1) td:nth-last-child(1) {
	padding-top: 50px;
}
tr:nth-last-child(1) td:nth-last-child(2) {
	padding-top: 50px;
}
tr:nth-last-child(1) td:nth-last-child(3) {
	padding-top: 50px;
}
.profil_span {
	color: red;
	font-weight: bold;
	font-size: 20px;
}